appdirs==1.4.0
Django==1.8.17
django-allauth==0.30.0
django-rest-auth==0.9.0
django-sendgrid==1.0.1
django-versatileimagefield==1.6.2
djangorestframework==3.5.3
oauthlib==2.0.1
olefile==0.44
packaging==16.8
Pillow==3.4.2
pyparsing==2.1.10
python-http-client==2.2.1
python-openid==2.2.5
requests==2.13.0
requests-oauthlib==0.7.0
sendgrid==3.6.3
sendgrid-django==4.0.4
six==1.10.0
